<template>
  <div id="app">
    <img src="./assets/logo.png">
    <h1>PlatziMusic</h1>
    <select v-model="selectedCountry">
      <option v-for="country in countries" v-bind:country="country">{{country.name}}</option>
    </select>
    <spinner v-show="loading"></spinner>
    <ul>
      <artist v-for="artist in artists" v-bind:artist="artist" v-bind:key="artist.mbid"></artist>
     
    </ul>
  </div>
</template>

<script>

import Artist from './components/Artist.vue'
import Spinner from './components/Spinner.vue'
import getArtists from './api'

export default {
  name: 'app',
  data () {
    return {
      artists: [],
      countries: [
        {'name': 'Argentina', value:'argentina'},
        {'name': 'Colombia', value:'colombia'},
        {'name': 'Ecuador', value:'ecuador'}
      ],
      selectedCountry: 'argentina',
      loading: true
    }
  },
  components: {
    Artist: Artist,
    Spinner: Spinner
  },
  methods: {
    refreshArtists: function(){
      const self = this
      this.loading = true;
      this.artist = [];
        getArtists(this.selectedCountry)
          .then(function (artists) {
            self.artists = artists
            self.loading = false;
          })
    }
  },
  mounted: function () {
   
  },
  watch: {
    selectedCountry() {
      this.refreshArtists()
    }
  }  
}
</script>

<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px

h1, h2
  font-weight normal

ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 0 10px

a
  color #42b983
</style>
